.internship-text {
  background-color: #ffde0a;
  text-align: center;
  padding: 2vh 0vw 2vh 0vw;
}

.guidebook_button {
  border-radius: 50px;
  border-width: 3px;
}

.internship_image {
  margin-top: 20px;
}

@include media-breakpoint-only(xs) {
  .internship_text > ul {
    font-size: 16px;
  }
}
@include media-breakpoint-only(sm) {
  .internship_text > ul {
    font-size: 16px;
  }
}

@include media-breakpoint-only(md) {
  .internship_text > ul {
    font-size: 16px;
  }
}

@include media-breakpoint-only(lg) {
  .internship_text > ul {
    font-size: 18px;
  }
}
